.about-us-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin: auto;
    margin-top: 0px;
}

.about-us-container::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    background-image: url('/public/Images/Mezzanine-Floor-construction-7-1024x768.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.3; 
    z-index: -1; 
}

.about-us-description {
    position: relative; 
    z-index: 1;
    border: 1px solid black;
    margin: auto;
    height: 26vh;
    margin-top: 5px;
    padding: 3px;
    border-radius: 5px;
    color: black;
}
@media screen and (min-width: 1200px ) {
    .about-us-description {
        height: 40vh;
        padding: auto;
        font-size: 20px;
    }
}
