.about-us-header {
    font-size: 30px;
}

.about-us-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin: auto;
    margin-top: 0px;
}

.about-us-container::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto;
    background-image: url('/public/Images/Mezzanine-Floor-construction-7-1024x768.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.3; 
    z-index: -1; 
}

.about-us-description {
    position: relative; 
    z-index: 1;
    margin: auto;
    margin-top: 30px;
    padding: 3px;
    border-radius: 5px;
    color: black;
    width: auto;
}

#paragraph-1 {
    margin-top: 10px;
}
#paragraph-5 {
    margin-bottom: 20px;
}

@media screen and (min-width: 1200px ) {
    .about-us-description {
        height: 35vh;
        padding: auto;
        font-size: 28px;
        width: 90vw;
    }
    .about-us-header {
        font-size: 50px;
    }
}

@media screen and (min-width: 1400px ) {
    .about-us-description {
        height: 35vh;
        padding: auto;
        font-size: 40px;
        width: 90vw;
    }
    .about-us-header {
        font-size: 60px;
    }
}
